name: pmd.yml

on:
  push:

jobs:
  test:
    name: run analysis code using pmd
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: pmd/pmd-github-action@v2
        with:
          rulesets: 'ruleset.xml'
      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pmd-report.sarif